---
layout: info_page
title: Press Kit
type: main
slug: press-kit
permalink: /press-kit/
menus:
  press:
    weight: 2
---

<div class='description'>Here, you can download the Phygital promotional material, as well as copy the banners html code to embed them in your website.</div>

<div class="press-frame">
  <a href='{{ "/assets/files/press_kit/brochure_Final_V4_left allign.pdf" | prepend: site.baseurl }}'>Project brochure</a>
</div>

<div class="press-frame">
  <a href='{{ "/assets/files/press_kit/PHYGITAL_LOGO_CMYK.pdf" | prepend: site.baseurl }}'>Logo (CMYK)</a>
</div>

<div class="press-frame">
  <a href='{{ "/assets/files/press_kit/PHYGITAL_LOGO_RGB-01.png" | prepend: site.baseurl }}'>Logo (RGB)</a>
</div>

<div class="press-frame">
  <a href='{{ "/assets/files/press_kit/poster_Final-01.jpg" | prepend: site.baseurl }}'>Poster 1</a>
</div>

<div class="press-frame">
  <a href='{{ "/assets/files/press_kit/poster_Final-02.jpg" | prepend: site.baseurl }}'>Poster 2</a>
</div>

{% capture banner_url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}

<div class="press-frame">
<a href="{{ '/assets/files/press_kit/webbanners_V3-01.jpg' | prepend: site.url }}">Web banner 1</a>
<code class="banner-code" style="display: block;">
    &lt;a href="https://phygitalproject.eu/" target="_blank" style=""&gt; <br>
    &lt;img src="{{ '/assets/files/press_kit/webbanners_V3-01.jpg' | prepend: banner_url }}" alt="phygital project banner" style="width: 300px;"&gt; <br>
    &lt;/a&gt;
    <button class="copy-banner-code">Copy</button>
  </code>
</div>

<div class="press-frame">
<a href="{{ '/assets/files/press_kit/webbanners_V3-02.jpg' | prepend: site.baseurl }}">Web banner 2</a>
<code class="banner-code" style="display: block;">
    &lt;a href="https://phygitalproject.eu/" target="_blank" style=""&gt; <br>
    &lt;img src="{{ '/assets/files/press_kit/webbanners_V3-02.jpg' | prepend: banner_url }}" alt="phygital project banner" style="width: 300px;"&gt; <br>
&lt;/a&gt;
<button class="copy-banner-code">Copy</button>
</code>
</div>

<div class="press-frame">
<a href="{{ '/assets/files/press_kit/webbanners_V3-03.jpg' | prepend: site.baseurl }}">Web banner 3</a>
<code class="banner-code" style="display: block;">
    &lt;a href="https://phygitalproject.eu/" target="_blank" style=""&gt; <br>
&lt;img src="{{ '/assets/files/press_kit/webbanners_V3-03.jpg' | prepend: banner_url }}" alt="phygital project banner" style="width: 300px;"&gt; <br>
&lt;/a&gt;
<button class="copy-banner-code">Copy</button>
</code>
</div>

<div class="press-frame">
<a href="{{ '/assets/files/press_kit/webbanners_V3-07.jpg' | prepend: site.baseurl }}">Web banner 4</a>
<code class="banner-code" style="display: block;">
    &lt;a href="https://phygitalproject.eu/" target="_blank" style=""&gt; <br>
    &lt;img src="{{ '/assets/files/press_kit/webbanners_V3-07.jpg' | prepend: banner_url }}" alt="phygital project banner" style="width: 220px;"&gt; <br>
    &lt;/a&gt;
    <button class="copy-banner-code">Copy</button>
  </code>
</div>

<div class="press-frame">
<a href="{{ '/assets/files/press_kit/webbanners_V3-08.jpg' | prepend: site.baseurl }}">Web banner 5</a>
<code class="banner-code" style="display: block;">
&lt;a href="https://phygitalproject.eu/" target="_blank" style=""&gt; <br>
&lt;img src="{{ '/assets/files/press_kit/webbanners_V3-08.jpg' | prepend: banner_url }}" alt="phygital project banner" style="width: 300px;"&gt; <br>
&lt;/a&gt;
<button class="copy-banner-code">Copy</button>
</code>
</div>
