<div class="phygital-widget" style="padding: 2%; width: 615px; height: 615px; position: relative; margin: auto; border: 1px solid gray; font-size: 16px;">
	<div class="background" style="width: 100%; height: 100%; position: relative;">
		<div class="button-container" style="position: relative; height: 216px">
			<img src="" alt="">
		</div>
		<div class="center" style="border-bottom: 3px solid; height: 281px; position: relative;">
			<div class="logo-tile" style="height: 100%; position: absolute; bottom: 0; left: 0; width: 100%;">
				<div class="logo" style="position: absolute; bottom: 0; width: 100%; font-size: 250%; margin-left: 2em; margin-bottom: 2em;">
					<div><span class="first-letter" style="color: grey;">D</span>esign <span class="first-letter" style="color: grey;">G</span>lobal,</div>
					<div><span class="first-letter" style="color: grey;">M</span>anufacture <span class="first-letter" style="color: grey;">L</span>ocal</div>
				</div>
			</div>

			<div class="image" style="float: right; position: absolute; bottom: 0; right: 0; height: 100%; z-index: -1">
				<img src="https://via.placeholder.com/400x400" alt="" style="height: 100%;">
			</div>
		</div>

		<div class="interreg-banner" style="height: 118px;">
			<img src="" alt="">
		</div>	
	</div>
</div>