<footer class="site-footer">


{% if page.langUrl == "/al" %} 

  <div id="footer-wrapper" class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="privacy">
          <li>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
          </li>
          <li class='privacy-li'>
            <a href="{{ '/al/privacy' | prepend: site.baseurl }}">Privatësia dhe cookie policy</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">

        <h2 class="footer-h">
          Kontakt
        </h2>

        <ul class="social-media-list">
          {% if site.social.twitter %}
            <li>
              <a href="{{ site.social.twitter }}" target="_blank">
                <i class="icon-twitter"></i>
              </a>
            </li>
            {% endif %}
            
            {% if site.social.facebook %}
            <li>
              <a href="{{ site.social.facebook }}" target="_blank">
                <i class="icon-facebook"></i>
              </a>
            </li>
            {% endif %}
            
            {% if site.social.youtube %}
            <li>
              <a href="{{ site.social.youtube }}" target="_blank">
                <i class="icon-youtube-play"></i>
              </a>
            </li>
            {% endif %}
            
            {% if site.social.email %}
            <li>
              <a href="{{ site.social.email }}" target="_blank">
                <i class="icon-mail-alt"></i>
              </a>
            </li>
            {% endif %}
            
          </ul>
          
        </div>
        
        <div class="footer-col footer-col-3">
          <p>Projekt i bashkëfincancuar nga Bashkimi Europian dhe Fondet për Zhvillim të vendeve pjesëmarrëse</p>
          {% if site.social.gitlab %}
          <h2 class="footer-h">For developers</h2> 
          <div class="for-devs">
            <a href="{{ site.social.gitlab }}">
              <i class="icon-gitlab"></i>
            </a>
          </div>
          {% endif %}
        </div>
    </div>

  </div>
  

{% else %} 
  

  <div id="footer-wrapper" class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="privacy">
          <li>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
          </li>
          <li class='privacy-li'>
            <a href="{{ '/privacy' | prepend: site.baseurl }}">privacy & cookie policy</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">

        <h2 class="footer-h">
          Contact
        </h2>

        <ul class="social-media-list">
          {% if site.social.twitter %}
            <li>
              <a href="{{ site.social.twitter }}" target="_blank">
                <i class="icon-twitter"></i>
              </a>
            </li>
            {% endif %}
            
            {% if site.social.facebook %}
            <li>
              <a href="{{ site.social.facebook }}" target="_blank">
                <i class="icon-facebook"></i>
              </a>
            </li>
            {% endif %}
            
            {% if site.social.youtube %}
            <li>
              <a href="{{ site.social.youtube }}" target="_blank">
                <i class="icon-youtube-play"></i>
              </a>
            </li>
            {% endif %}
            
            {% if site.social.email %}
            <li>
              <a href="{{ site.social.email }}" target="_blank">
                <i class="icon-mail-alt"></i>
              </a>
            </li>
            {% endif %}
            
          </ul>
          
        </div>
        
        <div class="footer-col footer-col-3">
          <p>{{ site.funding-info }}</p>
          {% if site.social.gitlab %}
          <h2 class="footer-h">For developers</h2> 
          <div class="for-devs">
            <a href="{{ site.social.gitlab }}">
              <i class="icon-gitlab"></i>
            </a>
          </div>
          {% endif %}
        </div>
    </div>

  </div>

{% endif %}   
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/vendor/rellax/rellax.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/bower_components/flickity/dist/flickity.pkgd.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/js/theme.js' | prepend: site.baseurl }}"></script>
</footer>
<!--  -->
</html>