<header class="site-header" id="site-header">

  <div class="header-wrapper">

{% if page.langUrl == "/al" %} 
    <a class="site-title" href="{{ site.baseurl }}/al/">
{% else %}
    <a class="site-title" href="{{ site.baseurl }}/">
{% endif %}
      <img src="{{ site.baseurl }}/images/logo.png" alt="logo">
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon" id="burger">
        <div></div>
      </a>

      <!-- <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.type == 'main' %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div> -->

{% if page.langUrl == "/al" %} 

      <ul class="main-nav trigger">
        {% for item in site.menus.al-main-nav %}
          <li class="menu-item menu-item-{{ forloop.index }}">
            <a href="{{ site.baseurl }}{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
            {% if item.children %}
              <ul class="sub-menu">
              {% for item in item.children %}
                <li class="menu-item-{{ forloop.index }}">
                  <a href="{{ site.baseurl }}{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
          <li class="menu-item menu-item-5"><a href="{{ site.baseurl }}/" title="Go to English version"><img class="flag" src="{{ site.baseurl }}/images/flag-lang.png" /> EN</a></li>
      </ul>
      
  {% else %}

      <ul class="main-nav trigger">
        {% for item in site.menus.main-nav %}
          <li class="menu-item menu-item-{{ forloop.index }}">
            <a href="{{ site.baseurl }}{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
            {% if item.children %}
              <ul class="sub-menu">
              {% for item in item.children %}
                <li class="menu-item-{{ forloop.index }}">
                  <a href="{{ site.baseurl }}{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
          <li class="menu-item  menu-item-5"><a href="{{ site.baseurl }}/al/" title="Shko te versioni në shqip"><img class="flag" src="{{ site.baseurl }}/images/flag-lang.png" /> AL</a></li>
      </ul>

  
  {% endif %}    
      
    </nav>

  </div>

</header>
