footer.site-footer{
	background-color: #b0b0b0;

	#footer-wrapper{
		// z-index: 1;
		// display: block;
		// @include my_translateX(0);
		max-width: 75%;
		width: 100%;
		margin: auto;
		padding-top: 1em;
		font-size: 20px;

		.footer-h{
			color: $white;
			font-size: 25px;
			line-height: 1em;
			font-family: 'Century Gothic';
		}

		.footer-col-wrapper{
			color: $interreg-color;

			.footer-col{

				@media screen and (max-width: 880px){
					width: 100%;
					min-width: 100%;
					display: block;
					margin: auto;
					text-align: center;
					margin-bottom: 3em;
					padding: 0;

					&:last-child{
						margin-bottom: 2em;
					}

					ul.privacy{
						display: inline-block;
						width: auto;
						margin-left: 0;
						padding: 0;
					}

					&.footer-col-3{
						p{
							text-align: center;
						}
					}
				}
			}

			.footer-col.footer-col-1{
				
				.privacy{
					list-style-type: none;
					margin: 0;
					
					li{
						margin-bottom: 5px;
						color: $white;
						
						&.privacy-li{
							margin-top: .6em;
							
							a{
								font-family: "Montserrat";
								font-size: 14px;
								line-height: 1.5em;
								font-weight: bold;
								color: $white;
								position: relative;

								&:after{
									content: '';
									display: block;
									position: absolute;
									width: 100%;
									height: 2px;
									border-bottom: 2px solid $white;
									opacity: 0;
									@include my_transition(all);
									bottom: 2px;
								}

								&:hover{
									&:after{
										opacity: 1;
									}
								}
							}
						}

						&:last-child{
							margin-bottom: none;
						}

						img#licence{
							width: 100px;
						}
					}
				}
			}

			.footer-col-2{
				
				
				.social-media-list{

					li{
						display: inline-block;
						font-size: 18px;
						height: 30px;
						width: 30px;
						line-height: 30px;
						margin-right: 10px;
						@include my_translate(0, 0);
						transform: scale(1);
						-webkit-transform: scale(1);
						-moz-transform: scale(1);
						-o-transform: scale(1);
						position: relative;
						
						&:hover{
							
							a{
								width: 35px;
								height: 35px;
								line-height: 35px;
								transform: scale(30%, 30%);
								-webkit-transform: scale(30%, 30%);
								-moz-transform: scale(30%, 30%);
								-o-transform: scale(30%, 30%);
								@include my_translate(-2.5px, -2.5px);
							}
						}
						
						&:last-child{
							margin-right: 0;
						}
						
						a{
							height: inherit;
							width: inherit;
							vertical-align: middle;
							text-align: center;
							display: inline-block;
							border: 1px solid $white;
							border-radius: 100%;
							@include my_transition(all);
							// height: 100%;
							// padding: 4px;
							font-size: inherit;
							color: $white;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							display: block;
						}
					}
				}
			}

			.footer-col.footer-col-3{
				text-align: right;
				letter-spacing: 0;
				line-height: 1.1em;
				position: relative;
				
				p{
					margin-bottom: .5em;
				}

				h2.footer-h{
					display: inline-block;
					line-height: 30px;
					font-size: 15px;
					margin-right: .5em;
				}

				.for-devs{
					position: relative;
					top: -.25em;
					display: inline-block;
					font-size: 18px;
					height: 30px;
					width: 30px;
					line-height: 30px;
					vertical-align: middle;
					margin-right: 10px;
					@include my_translate(0, 0);
					transform: scale(1);
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-o-transform: scale(1);
					position: relative;
					text-align: right;
					
					&:hover{
						
						a{
							width: 35px;
							height: 35px;
							line-height: 35px;
							transform: scale(30%, 30%);
							-webkit-transform: scale(30%, 30%);
							-moz-transform: scale(30%, 30%);
							-o-transform: scale(30%, 30%);
							@include my_translate(-2.5px, -2.5px);
						}
					}
					
					&:last-child{
						margin-right: 0;
					}
					
					a{
						height: inherit;
						width: inherit;
						vertical-align: middle;
						text-align: center;
						display: inline-block;
						border: 1px solid $white;
						border-radius: 100%;
						@include my_transition(all);
						// height: 100%;
						// padding: 4px;
						font-size: inherit;
						color: $white;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						display: block;
					}
				}
			}
		}
	}
}