@mixin my_transition($prop){
	transition: $prop .2s ease-in-out;
	-moz-transition: $prop .2s ease-in-out;
	-webkit-transition: $prop .2s ease-in-out;
	-o-transition: $prop .2s ease-in-out;
}

@mixin my_transition_v2($prop, $duration){
	transition: $prop $duration ease-in-out;
	-moz-transition: $prop $duration ease-in-out;
	-webkit-transition: $prop $duration ease-in-out;
	-o-transition: $prop $duration ease-in-out;
}

@mixin my_translateY($percentage){
	transform: translateY($percentage);
	-moz-transform: translateY($percentage);
	-webkit-transform: translateY($percentage);
	-o-transform: translateY($percentage);
}

@mixin my_translateX($percentage){
	transform: translateX($percentage);
	-moz-transform: translateX($percentage);
	-webkit-transform: translateX($percentage);
	-o-transform: translateX($percentage);
}

@mixin my_translate($percentageX, $percentageY){
	transform: translate($percentageX, $percentageY);
	-moz-transform: translate($percentageX, $percentageY);
	-webkit-transform: translate($percentageX, $percentageY);
	-o-transform: translate($percentageX, $percentageY);
}