body
	.page-content{

		.wrapper{
			padding-top: 0;
			min-width: initial;
			max-width: initial;

			article.post{
			
			header.post-header{
					
				.featured-container{
					margin-bottom: 5px;
					position: relative;
					height: 75vh;
					min-height: 400px;
					max-height: 800px; 
					width: 100%;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					
					h1{
						font-family: "Century Gothic";
						font-weight: bold;
						font-size: 40px;
						line-height: 1.2em;
						letter-spacing: .9px;
						position: absolute;
						bottom: 0px;
						margin-left: 15px;
						color: white;
						text-shadow: 0px 0px .1px black;
						width: 75vw;
						min-width: 300px;
						max-width: 1024px;
						user-select: none;
						margin-left: 1em;
						margin-bottom: .8em;
						
						@media screen and (max-width: 560px){
							margin-left: .3em;
							margin-right: .3em;
							margin-bottom: .8em;
							min-width: 250px;
						}
					}
				}
				
				h1{
					display: block;
					margin: auto;
					padding-top: 1.2em;
					max-width: 992px;
					min-width: 300px;
					font-family: "Century Gothic";
					font-weight: bold;
					font-size: 40px;
					line-height: 1.2em;
					letter-spacing: .9px;
					color: $black;
					text-shadow: 0px 0px .1px black;
					user-select: none;
				}
			}

			.post-content{
				display: block;
				margin: auto;
				max-width: 992px;
				min-width: 300px;
				min-height: 70vh;

				.post-meta{
					line-height: 1.1em;
					font-family: "Caviar";
					font-size: 20px;
					text-decoration: underline;
					color: #007688;
				}

				.article-content{

					p{
						margin-top: .6em;
						font-family: "Century Gothic";
						font-size: 20px;
						color: $black;
						font-weight: normal;
						line-height: 1.2em;
						letter-spacing: .2px;

						em{
							font-style: normal;
							font-weight: 600;
						}
					}
				}
				
				img{
					max-width: 50%;
					// display: inline-block;
					// text-align: center;
				}
			}
		}
	}		
}