.page-content{

	min-height: calc(100vh - 200px);

	.site-title{
		font-size: 42px;
		letter-spacing: -1px;
		line-height: 1;
		float: none;

		img{
			max-width: 150px; 
		}
	}
}

.home{

	.post-area{
		margin-top: 30px;

		h2{
			font-size: 36px;
			letter-spacing: -1px;
			line-height: 1;
			float: none;
		}
	}
}