---
layout: default
langUrl: /al
title: Të Reja
type: al-main
slug: newsal
permalink: /al/news/
menus:
  al-main-nav:
    weight: 2
---

<h1 class="page-heading">{{ page.title }}</h1>
      
<ul class="posts-list">
{% for post in site.categories.newsal %}
<li>
	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
	
	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
		<h2>
			{{ post.title }}
		</h2>
	</a>
	
	<p class="post-excerpt">
		{{ post.excerpt | strip_html }}
	</p>
</li>
{% endfor %}
</ul>
