---
layout: info_page
langUrl: /al
title: Pajime Shtypi
type: al-main
slug: press-kit
permalink: /al/press-kit/
menus:
  alpres:
    weight: 2
---

<div class='description'>Këtu mund të shkarkoni materialet e promocionit të Phygital-it, si dhe të kopjoni banner-at html për t'i bërë embed në website-in tuaj.</div>

<div class="press-frame">
  <a href='{{ "/assets/files/press_kit/brochure_Final_V4_left allign.pdf" | prepend: site.baseurl }}'>Broshura e Projektit</a>
</div>

<div class="press-frame">
  <a href='{{ "/assets/files/press_kit/brochure_Final_V4_left allign.pdf" | prepend: site.baseurl }}'>Logo (CMYK)</a>
</div>

<div class="press-frame">
  <a href='{{ "/assets/files/press_kit/PHYGITAL_LOGO_RGB-01.png" | prepend: site.baseurl }}'>Logo (RGB)</a>
</div>

<div class="press-frame">
  <a href='{{ "/assets/files/press_kit/poster_Final-01.jpg" | prepend: site.baseurl }}'>Posteri 1</a>
</div>

<div class="press-frame">
  <a href='{{ "/assets/files/press_kit/poster_Final-02.jpg" | prepend: site.baseurl }}'>Posteri 2</a>
</div>

{% capture banner_url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}

<div class="press-frame">
<a href="{{ '/assets/files/press_kit/webbanners_V3-01.jpg' | prepend: site.url }}">Banner-i i Faqes 1</a>
<code class="banner-code" style="display: block;">
    &lt;a href="https://phygitalproject.eu/" target="_blank" style=""&gt; <br>
    &lt;img src="{{ '/assets/files/press_kit/webbanners_V3-01.jpg' | prepend: banner_url }}" alt="phygital project banner" style="width: 300px;"&gt; <br>
    &lt;/a&gt;
    <button class="copy-banner-code">Copy</button>
  </code>
</div>

<div class="press-frame">
<a href="{{ '/assets/files/press_kit/webbanners_V3-02.jpg' | prepend: site.baseurl }}">Banner-i i Faqes 2</a>
<code class="banner-code" style="display: block;">
    &lt;a href="https://phygitalproject.eu/" target="_blank" style=""&gt; <br>
    &lt;img src="{{ '/assets/files/press_kit/webbanners_V3-02.jpg' | prepend: banner_url }}" alt="phygital project banner" style="width: 300px;"&gt; <br>
&lt;/a&gt;
<button class="copy-banner-code">Copy</button>
</code>
</div>

<div class="press-frame">
<a href="{{ '/assets/files/press_kit/webbanners_V3-03.jpg' | prepend: site.baseurl }}">Banner-i i Faqes 3</a>
<code class="banner-code" style="display: block;">
    &lt;a href="https://phygitalproject.eu/" target="_blank" style=""&gt; <br>
&lt;img src="{{ '/assets/files/press_kit/webbanners_V3-03.jpg' | prepend: banner_url }}" alt="phygital project banner" style="width: 300px;"&gt; <br>
&lt;/a&gt;
<button class="copy-banner-code">Copy</button>
</code>
</div>

<div class="press-frame">
<a href="{{ '/assets/files/press_kit/webbanners_V3-07.jpg' | prepend: site.baseurl }}">Banner-i i Faqes 4</a>
<code class="banner-code" style="display: block;">
    &lt;a href="https://phygitalproject.eu/" target="_blank" style=""&gt; <br>
    &lt;img src="{{ '/assets/files/press_kit/webbanners_V3-07.jpg' | prepend: banner_url }}" alt="phygital project banner" style="width: 220px;"&gt; <br>
    &lt;/a&gt;
    <button class="copy-banner-code">Copy</button>
  </code>
</div>

<div class="press-frame">
<a href="{{ '/assets/files/press_kit/webbanners_V3-08.jpg' | prepend: site.baseurl }}">Banner-i i Faqes 5</a>
<code class="banner-code" style="display: block;">
&lt;a href="https://phygitalproject.eu/" target="_blank" style=""&gt; <br>
&lt;img src="{{ '/assets/files/press_kit/webbanners_V3-08.jpg' | prepend: banner_url }}" alt="phygital project banner" style="width: 300px;"&gt; <br>
&lt;/a&gt;
<button class="copy-banner-code">Copy</button>
</code>
</div>
